.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;


}    
.image{
    display: flex;
    width: 80%;
    flex: 1;
    height: auto;
    box-shadow: 0 -2px 2px 2px white;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;


}
.project img{
    width: 80%;
    object-fit: contain; 

    height: 80%;
}
.btns{
    margin: 10px auto;

}
.btns button{
    padding: 10px 15px ;
    border-radius: 10px;
    box-shadow: 0px 3px 2px 2px white;
    transition: all 0.2s linear;


}
.btns button:hover{
    box-shadow: 0px 1px 0px 1px white;

}

.projDtls{
   
    box-shadow: 0 0 2px 1px white;
     max-width: 90%;
     text-align: left;
     background-color: transparent;
     transition: all 2s linear;
     border-radius: 10px;
}
.projDtls:hover{
    background-color: black;
    cursor: pointer;
}


.proTl{
    width: fit-content;
    display: flex;
}

.proTxt{
    word-wrap: break-word;
}